<span class="topic-next" >
  <DButton class="topic-next-button" @action={{action this.goToNextTopic}} @icon="chevron-right" @label={{if this.site.desktopView (theme-prefix "topic_next_label")}} />
</span>