.topic-navigation {
  display: flex;

  .topic-navigation-outlet {
    order: 1;
    margin-left: 5px;
  

    .topic-next-button, .topic-next-button.btn .d-icon {

      span {
        display: inline-block;
      }

      .widget-button {
        padding: .4em .6em;
      }

      background-color: $tertiary;
      color: $secondary;
      transition: color 0s;

      @include hover {
        background-color: $tertiary-medium;
        color: $secondary;
        
        .d-icon {
          color: $primary-low;
          background-color: $tertiary-medium;
        }
      }
    }
  }
}
